#testata
{
    text-align: center;
}
#corpo
{
    text-align: center;
}
#testo
{
    text-align: justify;
    padding-right: 10%;
    padding-left: 10%;
}
#titoloImmagine
{
    text-align: justify;
}
#immagine
{
    float: inherit;
    position: relative;
}
#footer
{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 5px #000;
}
#bottoneEmilio
{
    transition-duration: 0.2s;
}
#bottoneEmilio:hover
{
    background-color: red;
    color: white;
    box-shadow: 0 0 5px #000;
}
#bottoneGuido
{
    transition-duration: 0.2s;
}
#bottoneGuido:hover
{
    background-color: green;
    color: white;
    box-shadow: 0 0 5px #000;
}
#bottoneMatteo
{
    transition-duration: 0.2s;
}
#bottoneMatteo:hover
{
    background-color: blue;
    color: white;
    box-shadow: 0 0 5px #000;
}