#testata
{
    text-align: center;
}
#corpo
{
    text-align: center;
}
#testo
{
    text-align: justify;
    padding-right: 10%;
    padding-left: 10%;
}
#titoloImmagine
{
    text-align: justify;
}
#immagine
{
    float: inherit;
    position: relative;
}
#footer
{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 5px #000;
}